.footer {

  margin-top: 4rem;
  height: 4rem;
  background: black;

  &__ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  &__li {
    text-align: center;
    padding: 1rem 0;
    font-family: Montserrat;
    font-size: 1.3rem;

     & a {
       color: white;
       text-decoration: none;
       border-bottom: 2px solid white;
       transition: .3ss;
     }

     & a:hover {
       color: #ffcef7;
       border-bottom: 2px solid #ffcef7;
       transition: .3s;
     }
  }
}
