body {
  padding: 1.5rem;
}

.header{

  &__ruuben {
    padding-bottom: 2rem;

      &__link {
        font-size: 3.8rem;
        text-decoration: none;
        color: black;
        transition: 0.3s;
        font-family: Montserrat;
      }

      &__link:hover {
        color: #F5BDC4;
        transition: 0.3s;
      }
    }

    &__img {
      width: 85vw;
      height: 100%;
      &__container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
      }
  }
}
