.work {

  &__section {
    background-color: var(--blue);
    padding-bottom: 2rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: center;
    margin: auto;
  }

  &__post {
    width: 21rem;
    height: 16rem;
    margin: 1rem;

    &__box {
      font-family: Montserrat;
      color: white;
      position: absolute;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      transition: .4s;
    }

    &__title {
      font-size: 2.1rem;
      font-weight: bold;
      padding-bottom: .2rem;
      text-transform: capitalize;
      text-align: center;
      line-height: 2.5rem;
    }

    &__link {
      width: 100%;
      height: 100%;
      color: black;
      display: block;
      position: relative;
      overflow: hidden;
      transition: .4s;
    }

    &__link::before {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(-45deg, var(--pink) 0%, var(--dark-blue) 100%);
    }

    &__link:hover &__img {
      transition: .4s;
      transform: scale(1);
      opacity: .2;
      clip-path: inset(5% 4% 5% 4%);
    }

    &__link:hover &__box {
      opacity: 1;
      transition: .8s;
    }

    &__img {
      position: absolute;
      transition: .4s;
      transform: scale(1.1);
      width: 100%;
      height: 100%;
      clip-path: inset(0% 0% 0% 0%);
    }
  }
}

.about {

  &__text {
    padding: 0 1rem;
    width: 70vw;
    font-size: 1.3rem;
  }

  & span {
    background: var(--blue);
    padding: 0 .2rem;
  }
}
