.post {
margin-top: 1.5rem;
line-height: 1.5rem;

  &__date {
    margin-bottom: .5rem;
  }

  &__header {
    position: relative;
    background: var(--blue);
    margin-bottom: 1.5rem;
  }

  &__header-flex {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 4rem;

      &__right {
        margin: 1rem 0 0 2rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 85vw;
      }

      &__right div {
        margin-bottom: 1rem;
      }
  }

  &__img {
    margin: 1.5rem;
    width: 60vw;
    filter: drop-shadow(0 .3rem .3rem rgba(0, 0, 0, .4));
    z-index: 1;
  }

  &__img-ipad {
    width: 60vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    &::before {
      position: absolute;
      display: block;
      content: "";
      height: 50%;
      width: 40vw;
      position: absolute;
      background-color: var(--pink);
      left: -5%;
      top: -1%;
    }

    &::after {
      position: absolute;
      display: block;
      content: "";
      height: 30%;
      width: 30vw;
      position: absolute;
      background-color: var(--pink);
      right: -5%;
      bottom: -1%;
      z-index: 0;
    }
  }

  &__big-title {
    text-align: center;
    font-size: 2.8rem;
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    padding: 1.5rem;
    text-transform: capitalize;
    background-color: black;
  }

  &__title {
    margin: 1.5rem 0;
  }

  &__title:after {
    margin-top: 1rem;
  }

  &__team {
    margin-bottom: .7rem;
  }

  &__team:last-child {
    margin-bottom: 0;
  }

  &__categorie {
    text-transform: capitalize;
  }

  &__article {
    display: flex;
    align-items: center;

    &__top-box {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    &__top-text {
      width: 85vw;
    }

    &-box {
      width: 100%;
    }

    &__img {
      width: 88%;
      object-fit: cover;
    }

    &__img-iphone {
      filter: drop-shadow(0 0.3rem 0.3rem rgba(0, 0, 0, 0.4));
      width: 20vw;
      background: url(../assets/iphone.png) no-repeat;
      background-size: contain;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 5% 0%;
      margin-right: 3rem;
    }

    &__screenshot-flex {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      margin-top: 3rem;
      justify-content: space-around;
      align-items: center;
      width: 90vw;
    }

    &__screenshot-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
      margin-right: 2rem;
    }

    &__screenshot {
      z-index: 1;
      margin: 1.5rem;
      filter: drop-shadow(0 0.3rem 0.3rem rgba(0, 0, 0, 0.4));
    }

    &__screenshot-div {
      position: relative;
      margin: 1rem 0;

      &::before {
        position: absolute;
        display: block;
        content: "";
        height: 50%;
        width: 55%;
        position: absolute;
        background-color: var(--pink);
        left: -5%;
        top: -1%;
        z-index: -1;
      }

      &::after {
        position: absolute;
        display: block;
        content: "";
        height: 30%;
        width: 70%;
        position: absolute;
        background-color: var(--blue);
        right: -5%;
        bottom: -1%;
        z-index: -1;
      }
    }
  }

  &__video {
      width: 700px;
      height: 400px;
      z-index: 1;
      display: flex;
      margin: auto;
    }

  &__video-div {
    width: 70rem;
    position: relative;
    display: flex;
    margin: auto;

    &::before {
      position: absolute;
      display: block;
      content: "";
      height: 50%;
      width: 55%;
      position: absolute;
      background-color: var(--pink);
      left: -5%;
      top: -1%;
    }

    &::after {
      position: absolute;
      display: block;
      content: "";
      height: 30%;
      width: 70%;
      position: absolute;
      background-color: var(--pink);
      right: -5%;
      bottom: -1%;
      z-index: 0;
    }
  }

  &__text {
    padding: 0 5rem 0 1rem;
    margin-bottom: 1rem;
  }

  &__text p {
    margin-bottom: 1rem;
  }
}
