---
layout: default
---
<section class="work__section">
  <article class="work">

    <h1 class="work__title title margin">Work</h1>

    {{ content }}

    <ul class="work__list">
      {% for post in site.posts %}
        <li class="work__post">
          <a class="work__post__link" href="{{ post.url | relative_url }}">
            <img src="{{post.cover-image}}" alt="test" class="work__post__img">
            {% assign date_format = site.minima.date_format | default: "%b, %Y" %}
            <div class="work__post__box">
              <h2 class="work__post__title work__post__text">{{ post.title | escape }}</h2>
              <span class="work__post__core work__post__text">{{ post.core }}</span>
              <span class="work__post__date work__post__text">{{ post.date | date: date_format }}</span>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  </article>
</section>
<section class="about__section">
  <article class="about">
    <h1 class="about__title title margin">About</h1>
    <p class="about__text margin text">
      Hello, I'm <span>Ruuben</span>, I'm <span>22 years old</span> and I'm a graduate <span>Devine</span> student at Howest.
      </br></br>
      When I started studying Devine, I already had some knowledge about Photoshop,</br>
      I liked to experiment with the software in my free time, and used it for the styling of some projects at elementary school.
      Studying digital design and development seemed like a logic step for me!
      </br></br>

      The past two years I have learned a lot about coding and designing. </br>
      Beside mastering <span>web development</span> &amp; <span>web design</span>, I also learned about <span>UI/UX</span>, developing games in <span>Phaser</span>, and how to work with <span>React</span>. </br> </br>

      Whenever I have spare time, I like to explore the city, go traveling, or have a good chat with friends while drinking a cup of coffee.</br></br>

      You can find <span>my resume</span> <a href="/assets/Ruuben_Lambrechts_CV.pdf" download>here</a>
    </p>
  </article>
</section>
