---
layout: default
---

<div class="work">

  <h1 class="work__title title">Work</h1>

  {{ content }}

  <ul class="work__list">
    {% for post in site.posts %}
      <li class="work__post">
        {% assign date_format = site.minima.date_format | default: "%b, %Y" %}
        <span class="work__post__date">{{ post.date | date: date_format }}</span>
        <h2>
          <a class="work__post__link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
</div>
<div class="about">
  <h1 class="about__title title">About</h1>
</div>
