---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post__header">
    <h1 class="post__big-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <div class="post__header-flex">
      <div class="post__header-flex__left">
        <p class="post__date">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.minima.date_format | default: "%b, %Y" %}
            {{ page.date | date: date_format }}
          </time>
        </p>
        <img src="{{ page.header-image }}" alt="test" class="post__img">
      </div>
      <div class="post__header-flex__right">
        <div>
          <h1 class="post__title title">team</h1>
          {% if page.team %}
          {% for member in page.team %}
            <li>{{member}}</li>
          {% endfor %}
          {% endif %}
        </div>
        <div>
          {% if page.categorie %}
          <h1 class="post__title title">categorie</h1>
          <p>{{page.categorie}}</p>
          {% endif %}
        </div>
        <div>
          {% if page.online %}
          <h1 class="post__title title">online</h1>
          </br>
          <a href="{{page.online}}" target="_blank">link</a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>
  <div class="post__brief-box margin" itemprop="articleBody">
    <h1 class="post__title title">brief</h1>
    <p class="post__text">{{page.brief}}</p>
  </div>
  <div class="post__content-box margin" itemprop="articleBody">
    <h1 class="post__title title">concept</h1>
    <p class="post__text">{{page.concept}}</p>
  </div>
</article>
