---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post__header">
    <h1 class="post__big-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <div class="post__header-flex">
      <div class="post__header-flex__left">
        <p class="post__date">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.minima.date_format | default: "%b, %Y" %}
            {{ page.date | date: date_format }}
          </time>
        </p>
        {% if page.header-image %}
        <div class="post__img-ipad">
          <img src="{{ page.header-image }}" alt="header image" class="post__img">
        </div>
        {% endif %}
        {% if page.video %}
        <div class="post__video-div">
          {{ page.video }}
        </div>
        {% endif %}
      </div>
      <div class="post__header-flex__right">
        <div>
          <h1 class="post__title title">team</h1>
          {% if page.team %}
            {% for member in page.team %}
              <li class="post__team">{{member}}</li>
            {% endfor %}
          {% endif %}
        </div>
        <div>
          {% if page.categorie %}
          <h1 class="post__title title">categorie</h1>
          <p class="post__categorie text">{{page.categorie}}</p>
          {% endif %}
        </div>
        <div>
          {% if page.online %}
          <h1 class="post__title title">online</h1>
          </br>
          <a href="{{page.online}}" target="_blank">The Project</a>
          {% endif %}
          {% if page.github %}
        </br>
          <a href="{{page.github}}" target="_blank">Github</a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>
  <article class="post__article">
    <div class="post__article-box">
    <div class="post__article__top-box">
      <div class="post__article__top-text no-iphone">
        <div class="post__brief-box margin" itemprop="articleBody">
          <h1 class="post__title title">brief</h1>
          <p class="post__text text">{{page.brief}}</p>
        </div>
        <div class="post__content-box margin text" itemprop="articleBody">
          <h1 class="post__title title">concept</h1>
          <div class="post__text">
            {{content}}
          </div>
        </div>
      </div>
    </div>
      {% if page.screenshot1 or page.screenshot2 or page.screenshot3 %}
      <div class="post__article__screenshot-flex">
        {% if page.iphone-image %}
        <div class="post__article__screenshot-div">
          <img src="{{page.iphone-image}}" alt="iphone" class="post__article__iphone-image post__article__screenshot">
        </div>
        {% endif %}
        {% if page.screenshot1 %}
        <div class="post__article__screenshot-div">
          <img src="{{page.screenshot1}}" alt="screenshot 1" class="post__article__screenshot1 post__article__screenshot">
        </div>
        {% endif %}
        {% if page.screenshot3 %}
        <div class="post__article__screenshot-div">
          <img src="{{page.screenshot3}}" alt="screenshot 3" class="post__article__screenshot3 post__article__screenshot">
        </div>
        {% endif %}
        {% if page.screenshot2 %}
        <div class="post__article__screenshot-div">
          <img src="{{page.screenshot2}}" alt="screenshot 2" class="post__article__screenshot2 post__article__screenshot">
        </div>
        {% endif %}
        {% if page.screenshot4 %}
        <div class="post__article__screenshot-div">
          <img src="{{page.screenshot4}}" alt="screenshot 4" class="post__article__screenshot4 post__article__screenshot">
        </div>
        {% endif %}
        {% if page.screenshot5 %}
        <div class="post__article__screenshot-div">
          <img src="{{page.screenshot5}}" alt="screenshot 5" class="post__article__screenshot5 post__article__screenshot">
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </article>
</article>
